
html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

#buttons {
    position: fixed;
    top: 0;
    right: 30px;
    z-index: 1;
    //background: white;
    height:100px;
    width:100px;
}

.control{
    position:absolute;
    color:#ccc;
    top:10px;
    left:20px;
    z-index:5;
    width:100%;
    height:100%;
    position:absolute;
    border:none;
    overflow:hidden;
    //pointer-events:none;
}

canvas {
    position: absolute;
    top: 0;
}

.menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button {
    display: inline-block;
    padding: 8px;
    color: #FFF;
    background-color: #555;
}

.button.enabled {
    background-color: rgb(18, 36, 70);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(18, 36, 70);
}

.button.error {
    pointer-events: none;
    background-color: red;
}